<table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Stock</th>
        <th scope="col">Categoría</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let game of games">
        <th scope="row">{{ game.id + 1 }}</th>
        <td>{{ game.name }}</td>
        <td>{{ game.price }}</td>
        <td>{{ game.stock }}</td>
        <td>{{ getCategory(game.category) }}</td>
      </tr>
    </tbody>
  </table>